/* generic styling to be applied to normalise across platforms  */

/* generic styles stylesheet  */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");

:root {
  font-size: 10px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  color: rgb(87, 86, 86);
  color-scheme: light only;
  color-scheme: light;
  --toast-color: rgb(255, 243, 224);
}

div {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0;
}

body {
  width: 100%;
  margin: 0.5rem;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* Mostly equivalates to 10px but allows users accessibility zoom settings to work*/
  /* font-size: 10px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark light;
  min-height: 100vh;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Dark mode styles */
@media (prefers-color-scheme: light) {
}
