* {
  color: rgb(87, 86, 86);
  /* border: 0.01rem solid grey; */
}

body {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

header {
  margin-top: 1rem;
  /* margin-bottom: 3rem; */
}

.header-titles {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 55rem;
}

.main-title {
  margin-bottom: 2rem;
}

main {
  margin: 0;
  margin-bottom: 10rem;
}

main * {
  margin: 0;
  border: none;
}

.brutal {
  border-radius: 0;
  width: 100%;
  border: 0.1rem solid rgb(87, 86, 86);
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px rgb(87, 86, 86), 2px 2px 0px 0px rgb(87, 86, 86),
    2px 2px 0px 0px rgb(87, 86, 86), 3px 3px 0px 0px rgb(87, 86, 86),
    4px 4px 0px 0px rgb(87, 86, 86);
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.title {
  font-size: 2rem;
  max-width: 55rem;
}

.sub-header {
  margin-left: 0;
}

.progressBar {
  position: relative;
  height: 2.5rem;
  background-color: #ffffff;
  margin-bottom: 0.5rem;
  /* border: 0.01rem rgb(87, 86, 86) solid; */
  display: flex;
}

.progress {
  height: 100%;
  background-color: rgb(87, 86, 86);
  transition: width 0.5s ease-in-out;
}

.flex-container {
  font-size: 1.25rem;
  max-width: 55rem;
  display: flex;
  gap: 1rem;
}

.flex-container h3 {
  height: 5.5rem;
}

.flex-container h4 {
  height: 3rem;
  margin-top: 2rem;
}

.flex-container p {
  height: 2rem;
}

.flex-container > div > div {
  margin-top: 1rem;
}

.percentage {
  margin-left: 1rem;
}

/* Additional plugins  */

/* CSS */

.button-54 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  height: 3.5rem;
  background-color: white;

  margin: 0;
  width: 100%;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 3px;
  left: 3px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined:hover {
  color: rgb(87, 86, 86);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.input-field {
  width: 100%;
  height: 2.75rem;
  border-radius: 0;
  border: none;
  user-select: none;
  text-decoration: none;
}

.input-container {
  flex-grow: 2;
  display: flex;
}

form {
  display: flex;
  font-size: 1.25rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-right: 0.25rem;
  /* min-width: 20rem; */
  max-width: 55rem;
  margin-left: 0;
  margin-bottom: 1.5rem;
}

::placeholder {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
}

select {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0;
  border: 0.1rem solid rgb(87, 86, 86);
  width: 100%;

  height: 3.5rem;
}

option {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: 500;

  height: 3rem;
}

.button {
  width: 6.75rem;
}

.geo-button {
  width: 2.75rem;
  height: 2.75rem;
  background-color: transparent;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /* border: 0.1rem grey solid; */
}

.geo-button:hover {
  filter: opacity(100%);
  color: rgb(87, 86, 86);
}

.geo-icon {
  margin: 0;
  /* width: 100%; */
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
  filter: opacity(40%);
}

.geo-icon:hover {
  filter: opacity(100%);
}

.onButton {
  filter: opacity(100%);
  color: rgb(87, 86, 86);
}

.offButton {
  color: rgb(185, 185, 185);
}

.clear-button {
  margin-top: 3rem;
}

.small-title {
  font-size: 1.5rem;
  margin-bottom: 0;
  /* border: 0.1rem solid grey; */
}

.expand {
  margin-top: 1rem;

  /* width: 2.5rem;
  height: 2.5rem; */
  cursor: pointer;
  /* filter: opacity(50%); */
  /* border: 0.2rem solid; */
  font-size: 3rem;
  color: #969696;
  /* padding-bottom: 4rem;
  padding-top: 0; */
}

.expand:hover {
  color: rgb(87, 86, 86);
}

.form-container {
  margin-top: 0.5rem;
  /* display: flex; */
}

.loader {
  position: relative;
  top: 2.5rem;
  left: 3.25rem;
  height: 5px;
  width: 5px;
  color: #000000;
  box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px,
    -10px -10px 0 5px;
  animation: loader-38 6s infinite;
}

@keyframes loader-38 {
  0% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px,
      -10px -10px 0 5px;
  }
  8.33% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px -10px 0 5px,
      10px -10px 0 5px;
  }
  16.66% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      10px 10px 0 5px;
  }
  24.99% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  33.32% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      -10px -10px 0 5px;
  }
  41.65% {
    box-shadow: 10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      10px -10px 0 5px;
  }
  49.98% {
    box-shadow: 10px 10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px,
      10px 10px 0 5px;
  }
  58.31% {
    box-shadow: -10px 10px 0 5px, -10px 10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  66.64% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  74.97% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  83.3% {
    box-shadow: -10px -10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  91.63% {
    box-shadow: -10px -10px 0 5px, -10px 10px 0 5px, -10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  100% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px,
      -10px -10px 0 5px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  padding: 0;
  background-color: white;
  width: 100%;
}

footer p {
  color: rgb(185, 185, 185);
  background-color: white;
  padding: 0;
  margin: 0;
  width: 90%;
  margin-top: 1rem;
  text-align: end;
}

.placeholder {
  height: 3rem;
}
