/* generic application to all elements  */

* {
  color: rgb(87, 86, 86);
  background-color: rgb(255, 252, 246);
}

/* to set up background colour  */
main div * {
  background-color: rgb(255, 255, 255);
}

/* normalise body  */
body {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

/* brutalistic styling  */
.brutal {
  border-radius: 0;
  width: 100%;
  border: 0.1rem solid rgb(87, 86, 86);
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px rgb(87, 86, 86), 2px 2px 0px 0px rgb(87, 86, 86),
    2px 2px 0px 0px rgb(87, 86, 86), 3px 3px 0px 0px rgb(87, 86, 86),
    4px 4px 0px 0px rgb(87, 86, 86);
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* footer  */
footer {
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  padding: 0;
  width: 100%;
}

footer p {
  color: rgb(185, 185, 185);
  padding: 0;
  margin: 0;
  width: 90%;
  margin-top: 1rem;
  text-align: end;
}
