* {
  color: rgb(87, 86, 86);
  /* border: 0.01rem solid grey; */
  /* background-color: white; */
  background-color: rgb(255, 252, 246);
}

main div * {
  background-color: rgb(255, 255, 255);
}

body {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

header {
  /* margin-top: 1rem; */
  width: 100%;
  /* margin-bottom: 3rem; */
  --max-width: 55rem;
}

.header-titles {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  /* max-width: 55rem; */
  max-width: var(--max-width);
}

.flags {
  display: flex;
  width: 3rem;
  gap: 0.25rem;
  /* border: 0.01rem solid grey; */
  padding-bottom: 0.5rem;
}

.flags img {
  display: flex;
  width: 3rem;
  gap: 0.25rem;
  /* border: 0.01rem solid grey; */
  padding-bottom: 0.5rem;
}

.main-title {
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.main-title * {
  margin-bottom: 0.5rem;
  background-color: #ffffff;
}

main {
  margin: 0;
  margin-bottom: 10rem;
}

main * {
  margin: 0;
  border: none;
}

.brutal {
  border-radius: 0;
  width: 100%;
  border: 0.1rem solid rgb(87, 86, 86);
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px rgb(87, 86, 86), 2px 2px 0px 0px rgb(87, 86, 86),
    2px 2px 0px 0px rgb(87, 86, 86), 3px 3px 0px 0px rgb(87, 86, 86),
    4px 4px 0px 0px rgb(87, 86, 86);
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.title {
  font-size: 2rem;
  max-width: var(--max-width);
}

.sub-header {
  width: 100%;
  margin-left: 0;
}

.progressDiv {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.fuel-icon {
  width: 3rem;
  height: 3rem;
}

.fuel-icon img {
  width: 3rem;
  height: 3rem;
}

.intensity {
  flex-direction: column;
  /* border: 0.1rem solid grey; */
}

.intensity h5 {
  /* border: 0.1rem solid grey; */
}

.intensity-index {
  gap: 0.5rem;
}

.intensity-icon {
  /* width: 3rem; */
  height: 3rem;
  /* border: 0.1rem solid grey; */
  height: 2.5rem;
  margin-top: 1.5rem;
}

.intensity-icon svg {
  width: 3rem;
  height: 3rem;
}

.progressBar {
  position: relative;
  height: 2.5rem;
  /* background-color: #ffffff; */
  margin-bottom: 0.5rem;
  /* border: 0.01rem rgb(87, 86, 86) solid; */
  display: flex;
  width: 100%;
}

.progress {
  height: 100%;
  background-color: rgb(87, 86, 86);
  transition: width 0.5s ease-in-out;
}

.flex-container {
  font-size: 1.3rem;
  max-width: var(--max-width);
  display: flex;
  gap: 1rem;
}

.flex-container h2 {
  height: 6rem;
}

.flex-container h3 {
  height: 5rem;
}

.flex-container h4 {
  height: 2rem;
  margin-top: 2rem;
}

.flex-container h5 {
  font-weight: 500;
  height: 2.5rem;
  margin-top: 2rem;
}

.flex-container p {
  /* height: 3rem; */
  /* margin-top: 2rem; */
  margin-bottom: 0rem;
  margin-top: 2rem;
}

.flex-container > div > div {
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
}

.percentage {
  margin-left: 1rem;
}

/* Additional plugins  */

/* CSS */

.button-54 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  height: 3.5rem;
  /* background-color: white; */

  margin: 0;
  /* width: 100%; */
  width: 7.25rem;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 3px;
  left: 3px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined:hover {
  color: rgb(87, 86, 86);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.input-field {
  width: 100%;
  height: 3rem;
  border-radius: 0;
  border: none;
  user-select: none;
  text-decoration: none;
  background-color: white;
}

.input-container {
  flex-grow: 2;
  display: flex;
  align-items: center;
  background-color: white;
}

form {
  display: flex;
  font-size: 1.25rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-right: 0.25rem;
  /* min-width: 20rem; */
  max-width: var(--max-width);
  margin-left: 0;
  margin-bottom: 1.5rem;
}

::placeholder {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.15rem;
  font-weight: 500;
}

select {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.15rem;
  font-weight: 500;
  border-radius: 0;
  border: 0.1rem solid rgb(87, 86, 86);
  width: 100%;

  height: 3.5rem;
  background-color: white;
}

option {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.15rem;
  font-weight: 500;

  height: 3rem;
  background-color: white;
}

.button {
  width: 7.25rem;
}

.geo-button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  margin-top: 0.25rem;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /* border: 0.1rem grey solid; */
}

.input-container div {
  /* border: 0.1rem grey solid; */
  padding: auto;
  width: 2rem;
  height: 2rem;
  background-color: white;
}

.geo-button:hover {
  filter: opacity(100%);
  color: rgb(87, 86, 86);
}

.geo-icon {
  margin: 0;
  /* width: 100%; */
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  filter: opacity(40%);
}

.geo-icon:hover {
  filter: opacity(100%);
}

.onButton {
  filter: opacity(100%);
  color: rgb(87, 86, 86);
}

.offButton {
  color: rgb(185, 185, 185);
}

.clear-button {
  /* margin-top: 1.75rem; */
  width: 7.25rem;
}

button {
  background-color: #fff8de;
}

.small-title {
  font-size: 1.5rem;
  margin-bottom: 0;
  /* border: 0.1rem solid grey; */
}

.expand {
  margin-top: 1rem;

  /* width: 2.5rem;
  height: 2.5rem; */
  cursor: pointer;
  /* filter: opacity(50%); */
  /* border: 0.2rem solid; */
  font-size: 3rem;
  color: #969696;
  /* padding-bottom: 4rem;
  padding-top: 0; */
}

.expand:hover {
  color: rgb(87, 86, 86);
}

.form-container {
  margin-top: 0.5rem;
  /* display: flex; */
}

.loader {
  position: relative;
  top: 2.5rem;
  left: 3.25rem;
  height: 5px;
  width: 5px;
  color: #000000;
  box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px,
    -10px -10px 0 5px;
  animation: loader-38 6s infinite;
}

@keyframes loader-38 {
  0% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px,
      -10px -10px 0 5px;
  }
  8.33% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px -10px 0 5px,
      10px -10px 0 5px;
  }
  16.66% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      10px 10px 0 5px;
  }
  24.99% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  33.32% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      -10px -10px 0 5px;
  }
  41.65% {
    box-shadow: 10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      10px -10px 0 5px;
  }
  49.98% {
    box-shadow: 10px 10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px,
      10px 10px 0 5px;
  }
  58.31% {
    box-shadow: -10px 10px 0 5px, -10px 10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  66.64% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  74.97% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  83.3% {
    box-shadow: -10px -10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  91.63% {
    box-shadow: -10px -10px 0 5px, -10px 10px 0 5px, -10px 10px 0 5px,
      -10px 10px 0 5px;
  }
  100% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px,
      -10px -10px 0 5px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  padding: 0;
  /* background-color: white; */
  width: 100%;
}

footer p {
  color: rgb(185, 185, 185);
  /* background-color: white; */
  padding: 0;
  margin: 0;
  width: 90%;
  margin-top: 1rem;
  text-align: end;
}

.placeholder {
  height: 3rem;
}

input:focus {
  outline: none;
  background-color: white;
}

input {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.15rem;
  background-color: white;
}

select:focus {
  outline: none;
}

option:focus {
  outline: none;
}

.disclaimer {
  font-size: 1.15rem;
}

.header-bottom {
  display: flex;
  font-size: 1.25rem;
  justify-content: flex-start;
  /* border: 0.1rem solid grey; */
  align-items: center;
  /* margin-right: 0.25rem; */
  gap: 1rem;
  /* margin-top: 0.5rem; */
  max-width: var(--max-width);
  margin-left: 0;
  margin-bottom: 1.5rem;
}

.sort {
  /* flex-grow: 2; */
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.15rem;
  font-weight: 500;
  border-radius: 0;
  border: 0.1rem solid rgb(87, 86, 86);
  width: 100%;
  height: 3.5rem;
}

/* toasts  */

.toastDiv {
  position: relative;
  /* border: 0.1rem solid grey; */
}

.toast {
  position: absolute;
  top: 1rem;
  border: 0.01rem solid rgb(0, 0, 0);
  background-color: var(--toast-color);
  overflow: hidden;
  transform: translateX(calc(-100% - 10rem));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  width: 27rem;
  height: 6rem;
  z-index: 1;
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
  background-color: var(--toast-color);
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  background-color: var(--toast-color);
}

.message .text {
  font-size: 1.25rem;
  padding-top: 0.25rem;
  font-weight: 500;
  color: #000000;
  background-color: var(--toast-color);
  width: 23rem;
}

.toast .close {
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: 0.15rem;
  right: 1.25rem;
  /* padding: 0.25rem; */
  cursor: pointer;
  /* opacity: 0.7; */
  /* background-color: red; */
  background-color: var(--toast-color);
}

.close-icon {
  width: 1rem;
  height: 1rem;
  background-color: var(--toast-color);
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
}

.toast .progress:before {
  content: "";
  position: absolute;
  /* bottom: 0; */
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #d17575;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

/* respnsive elements  */

@media screen and (min-width: 350px) {
}

@media screen and (min-width: 650px) {
  :root {
    font-size: 10.5px;
  }

  header {
    --max-width: 100%;
  }
}

@media screen and (min-width: 800px) {
  :root {
    font-size: 11px;
  }

  body {
    width: 92.5%;
  }

  .header-top {
    width: 32rem;
  }

  .body-container {
    display: flex;
    gap: 1.5rem;
  }

  .placeholder {
    height: 0.5rem;
  }

  header {
    width: 35rem;
  }

  main {
    width: 100%;
  }

  .flex-container {
    /* width: 50%; */
  }

  .header-titles {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1250px) {
  :root {
    font-size: 11.5px;
  }
}
